<ul>
    <li><a href="index.html" {% if page == 'index' %}style="font-weight: bold"{% endif %}>Index</a></li>
    <li><a href="page1.html" {% if page == 'page1' %}style="font-weight: bold"{% endif %}>Page 1</a></li>
    <li><a href="page2.html" {% if page == 'page2' %}style="font-weight: bold"{% endif %}>Page 2</a></li>
    <li><a href="page3.html" {% if page == 'page3' %}style="font-weight: bold"{% endif %}>Page 3</a></li>
</ul>